/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache and configs from libs
/.clj-kondo/*

# clj-kondo config
!/.clj-kondo/config.edn

# clojure-lsp cache
/.lsp/.cache

# Node.js dependencies
/node_modules/
